<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'main.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<header>
    <div class="lead1 borders">
       
        <div class="lead_sec1 borders">
            <div class="lead_sec_1_img borders"><img style="margin-top: 6px;" height="80%" width="100%" src="{{url_for('static',filename='images/Spotify_icon.png')}}" alt=""></div>
           
            <h1 class="borders"> SPOTIFY DATA ANALYSIS</h1>
        </div>



        <div class="lead_sec2 borders">
            <div class="lead_sec2_1 borders">
               <form action="/bst_songs">
                <button style="background-color: transparent;border:0px solid transparent;border-radius: 0px 0px 15px 15px;cursor: pointer;"> <img style="margin: 10px;" height="20px" width="20px" src="{{url_for('static',filename='images/analytics.png')}}" alt=""> <b style="font-size: 15px; color: white;" >Best Streaming 2023</b></button>
               </form>
            </div>
        </div>
        <div class="lead_sec3 borders">
            <form action="/analysis_2023" method="post">
                <button style="" class="analysis_btn onh">
                    Overall Analysis
                </button>
            </form>
            
        </div>

    </div>
</header>
<!-- Nav Close -->
<!-- Body starts -->
<body>
    <div class="body_div borders ">
        <h1 style="margin-left: 30px;"><b>Best</b> <small>Streaming Songs of 2023</small></h1>
        <hr style="width: 40%">
        <section>
            <div class="borders" style="display:flex ">
             <div class="sec_1">
            <div class="top_streamed borders">
            <div style="height: 50px; width: 50px;margin: 20px 5px 20px 15px;" class="borders">
                <img height="100%" src="{{url_for('static',filename='images/play-button.png')}}" alt="">
            </div>
            <div class="borders" style="margin-left: 25px;"><h3>Highiest Streams<hr></h3>
            <h3>{{top1['track_name']}}</h3>
                
            </div>
            

        </div>
        <div class="cover_page borders">
            <img src="{{top1['cover_url']}}" alt="">
        </div>
    </div>   



        <div class="stats1 borders">
            <div class="track_info borders">
                <div class="track_info_1 borders">
                    <h3>Audio Info</h3>
                    <div class="track_info_1_1 borders" >
                        <div class="track_info_1_1_1 borders">
                            <h2>{{top1['track_name']}}</h2>
                            <p>
                                Top Song Name
                            </p>
                        </div>
                        <div class="track_info_1_1_1 borders">
                            <h2>{{top1['artist(s)_name']}}</h2>
                            <p>
                                Top Song Artist
                            </p>
                        </div>

                    </div>
                </div>
                <div class="track_info_2 borders">
                    <h3>Track Info</h3>
                    <div class="track_info_1_1 borders" >
                        <div class="track_info_1_1_1 borders">
                            <h2>{{top1['mode']}}</h2>
                            <p>
                                #mode
                            </p>
                        </div>
                        <div class="track_info_1_1_1 borders">
                            <h2>{{top1['streams']}}</h2>
                            <p>
                                Streams
                            </p>
                        </div>
                        <div class="track_info_1_1_1 borders">
                            <h2>{{top1['released_day']}}/{{top1['released_month']}}/{{top1['released_year']}}</h2>
                            <p>
                                Release Date
                            </p>
                        </div>
                        

                    </div>
                   
                </div>
               
            </div>
            <div class="track_info3 borders">
                <h3>Music Info</h3>
                <div class="track_info_3_1 borders">
                    <div class="track_info_3_11 borders">
                        <h2>{{top1['speechiness_%']}} <small>%</small></h2>
                        <p>
                            Speech
                        </p>
                    </div>
                    <div class="track_info_3_11 borders">
                        <h2>{{top1['instrumentalness_%']}}<small>%</small></h2>
                        <p>
                            Instrumental
                        </p>
                    </div>
                    <div class="track_info_3_11 borders">
                        <h2>{{top1['liveness_%']}}<small>%</small></h2>
                        <p>
                            liveness
                        </p>
                    </div>
                    <div class="track_info_3_11 borders">
                        <h2>{{top1['danceability_%']}}<small>%</small></h2>
                        <p>
                            Danceability
                        </p>
                    </div>
                    <div class="track_info_3_11 borders">
                        <h2>{{top1['energy_%']}}<small>%</small></h2>
                        <p>
                            Energy
                        </p>
                    </div>
                </div>
            </div>
            
            
        </div>





        <div class="stats4 borders">
            <h1 style="">Search By :-</h1>
            <h3>Song Name:</h3>
            <form action="/search_song" method="post">
            <select name="s_song" class="s1" id="">
                {% for i in all_tracks %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
            <br><br><input style="border:1px solid pink" class="analysis_btn" type="submit" value="Get Data">
            </form>

     </div>
    </div>
    </section>
    <section>
        <div class="borders" style="display: flex;">
            
            <div class="stats3 borders">
                <h2 style="margin:10px ">Top 10 Artists by Streams<hr style="width: 80%;"></hr></h2>
                <div class="stats_temp1 borders">
                    
                    {% for i in tracks %}
                    <div class="div_b1 borders">
                        <form action="/get_song" method="post">
                        <button name="get_val" value="{{i}}" ><img style="margin-right:15px ;" height="20px" src="{{url_for('static',filename='images/play.png')}}" alt="">{{i}}</button>
                    </form>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="stats2 borders">
                <table width="600px" align="center" height="320px" border="0">
                    <tr>
                        <td height="30px" colspan="3">
                            <p>Comparision Between Spotify, Deezer and Apple Playlists</p>
                        </td>
                    </tr>

                    <tr>
                        <td width="100%">
                            <div class="comparison_box borders">
                                <div class="cb1 borders">
                                    <img height="50px" src="{{url_for('static',filename='images/Spotify_icon.png')}}" alt="">
                                    <h2>Spotify <br>Total Play List</h2>
                                    <h1><h1>{{top1['in_spotify_playlists']}}</h1></h1>
                                </div>
                                <div class="cb1 borders">
                                    <img height="50px" src="{{url_for('static',filename='images/deezer.png')}}" alt="">
                                    <h2 style="color: #500E80;">Deezer <br>Total Play List</h2>
                                    <h1><h1>{{top1['in_deezer_playlists']}}</h1></h1>
                                </div>
                                <div class="cb1 borders">
                                    <img height="50px" src="{{url_for('static',filename='images/itunes.png')}}" alt="">
                                    <h2 style="color: #AF6419 ;">Apple <br>Total Play List</h2>
                                    <h1>{{top1['in_apple_playlists']}}</h1>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>
                            <img height="50px" src="/Spotify Data Analysis/static/images/Spotify_icon.png" alt="">
                            <h2>Spotify <br>Total Play List</h2>
                            
                        </td>
                        <td>
                            <img height="50px" src="/Spotify Data Analysis/static/images/deezer.png" alt="">
                            <h2>Deezer <br>Total Play List</h2>
                        </td>
                        <td>
                            <img height="50px" src="/Spotify Data Analysis/static/images/itunes.png" alt="">
                            <h2>Apple <br>Total Play List</h2>
                        </td>
                    </tr> -->
                </table>
            </div>
        </div>
    </section>
    </div>
</body>
</html>